<div class="m-3">
    <h1 class="text-center">GraphQL User</h1>
    <div class="row justify-content-center">
        <div class="col-sm-4">
            <div class="row d-flex">
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Search...." #searchText>
                </div>
            </div>
        </div>
        <div class="col-sm-1 align-items-center">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">
                <i class="fa fa-plus"></i> Create User
            </button>
        </div>
    </div>

    <table class="table table-hover mt-3">
        <thead>
            <tr class="bg-dark text-white">
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">UserName</th>
                <th scope="col">Email</th>
                <th>Update</th>
                <th>Delete</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userAllData">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td><i class="fa fa-edit text-warning" data-bs-toggle="modal" data-bs-target="#updateModal"
                        (click)="getPostId(user.id)"></i></td>
                <td><i class="fa fa-trash text-danger" (click)="delPost(user.id)"></i></td>
                <td data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="open(user.id)"><i
                        class="fas fa-eye"></i>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel">Show Data :- {{id}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span class="fs-3"> Id:- </span>{{id}}
                    <hr>
                    <span class="fs-3"> Name:- </span>{{name}}
                    <hr>
                    <span class="fs-3">UserName:- </span>{{username}}
                    <hr>
                    <span class="fs-3">Email:- </span>{{email}}
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="createUser">
                        <input type="text" class="form-control" id="search" formControlName="name"
                            placeholder="Enter Name">
                        <input type="text" class="form-control mt-3" id="search" formControlName="username"
                            placeholder="Enter UserName">
                        <input type="text" class="form-control mt-3" id="search" formControlName="email"
                            placeholder="Enter Email">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="addUser()" data-bs-dismiss="modal">Create
                        User</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="updateUserF">
                        <input type="text" class="form-control" id="name" formControlName="name"
                            placeholder="Enter Name">
                        <input type="text" class="form-control mt-3" id="userName" formControlName="username"
                            placeholder="Enter UserName">
                            <input type="text" class="form-control mt-3" id="email" formControlName="email" placeholder="Enter Email">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="updateUser(userId)"
                        data-bs-dismiss="modal">Update Post</button>
                </div>
            </div>
        </div>
    </div>
</div>